# Dependencies
node_modules/

# Build output
dist/
out/
release/
*.blockmap
*.exe

# Runtime user data (custom pets created by users are stored here)
pets/

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db